body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background-color: azure;
}


/* 
--------------------------
    Header Styles
--------------------------
*/
#header {
    display: flex; 
    width: 100vw; 
    height: 10vh; 
    align-items: center; 
    justify-content: space-evenly; 
    font-size: 4vh; 
    font-weight: bold; 
    color: white; 
    background-color: #007BFF;
}


/* 
--------------------------
    Progress Bar Styles
--------------------------
*/
#progress-bar-container {
    overflow: hidden;
    width: 90vw;
    height: 5vh;
    margin-top: 2vh;
}
  
#progress-bar-inner {
    overflow: hidden;
    width: 90vw;
}

.child {
    float: left;
    background-color: green;
    height: 20px;
}

.last-child {
    float: left;
    background-color: green;
    height: 20px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

/* 
--------------------------
    Content Styles
--------------------------
*/
#content {
    height: 78vh;
}

tr {
    flex-direction: row; 
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 26vh;
    overflow-y: scroll;
}

td {
    display: flex;
    justify-content: center;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    display: block;
}


button.central {
    padding: 20px 40px;
    font-size: 24px;
    height: 25vh;
    width: 25vh;
}


button.info {
    font-size: 24px;
    height: 50px;
    width: 50px;
}


p {
    font-size: 24px;
    text-align: justify;
}

/*
--------------------------
    Bottom Bar Styles
--------------------------
*/
#bottom {
    height: 5vh;
    width: 100vw;
    background-color: azure;
}

/*
--------------------------
    End Message Styles 
--------------------------
*/
#endMessage {
    color: green;
    font-weight: bold;
}