<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <script src="{{url_for('.static', filename='app.js')}}"></script>
    <title>Rimini Treasure Hunt</title>
</head>
<body>
    <div style="
            display: flex; 
            width: 100vw; 
            height: 10vh; 
            align-items: center; 
            justify-content: space-evenly; 
            font-size: 4vh; 
            font-weight: bold; 
            color: white; 
            background-color: #007BFF;">
        <a href="{{ url_for('index') }}">
            <img id="logo" src="{{ url_for('static', filename='images/home.svg') }}" alt="Logo" style="max-height: 6vh;">
        </a>
        Rimini Treasure Hunt
    </div>
    <div id="progress-bar-container">
        {% if tappa_attuale >= 0 %}
        <div id="progress-bar-">
            {% for tappa in range(tot_tappe) %}
                {% if tappa < tappa_attuale %}
                    <div class="child" style="width: calc(90vw/{{ tot_tappe }});"></div>
                {% elif tappa == tappa_attuale %}
                    <div class="last-child" style="width: calc(80vw/{{ tot_tappe }});"></div>
                {% endif %}
            {% endfor %}                
        </div>
        {% endif %}
    </div>
    <div id="content">
        {% block content %} {% endblock %}
    </div>
    <div id="bottom">
    </div>
</body>
</html>
