{% extends 'base.html' %}

{% block content %}
<table style="width: 100%;">
    <tr style="height: 52vh;"> <!-- TOP MESSAGE -->
        <td> 
            <p>{{ posizione.infoMessage }}</p>
        </td>
    </tr>    
    <tr> <!-- BUTTONS -->
        <td style="width: 25%;">
        </td>
        <td style="width: 100%;">
            <button id="nextStepButton" onclick="nextLocation()" class="central">Prossima tappa</button>
        </td>
        <td style="width: 25%;">
        </td>
    </tr>
</table>
{% endblock %}
