{% extends 'base.html' %}

{% block content %}
<table style="width: 100%;">
    <tr> <!-- TOP MESSAGE -->
        <td> 
            <p>{{ posizione.hintMessage }}</p>
        </td>
    </tr>

    <tr> <!-- DISTANCE FROM TARGET -->     
        <td> 
            <p id="distanceMessage" style="display:none;"></p>
        </td>
    </tr>
    
    <tr> <!-- BUTTONS -->
        <td style="width: 25%; display: flex; flex-direction: column; justify-content: space-around;">
            <button id="skipToNextStepButton" style="display:none;" onclick="skipToNextLocation()" class="info">
                <img src="{{ url_for('static', filename='images/skip.svg') }}" style="color: white;vertical-align: middle">
            </button>
        </td>
        <td style="width: 50%;">
            <button id="getLocationButton" onclick="getLocation()" class="central">Ci sono!</button>
        </td>
        <td style="width: 25%;">
        </td>
    </tr>
</table>
{% endblock %}
